<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Breaking news! {{ article.title }}</title>
</head>
<body>
    <p>Category: {{ article.category }}</p>
    <p>Written by: {{ article.author }}</p>
    <p>Posted at: {{ article.created_at }}</p>
    <br>
    <p>{{ article.content }}</p>
</body>
</html>